.footer {
    background-color: #1f1f1f;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer h5 {
    color: #fff;
  }
  
  .footer p {
    color: #ccc;
  }
  
  .footer a {
    list-style: none;
    color: #fff;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    list-style: none;
    color: #fff;
  }
  